.road-container {
    background-image: url('../images/roads2.png');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    height: 600px;
    min-height: 350px;
    width: 600px;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
  
    .lane {
      box-sizing: border-box;
      height: 150px;
      margin-top: 46px;
      display: flex;
      align-items: center;
      position: relative;

      .vehicle {
        animation-duration: 10s;
      
        @for $i from 1 through 30 {
          &:nth-child(#{$i}) {
            animation-delay: #{0.83 * ($i - 1)}s;
          }
        }
      }
    }
  }

  .vehicle {
    margin: 15px;
    height: 80px;
    min-width: 80px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -200px;
    top: calc(50% - 60px);

    animation: move 10s infinite linear;
  
    &.car {
      background-image: url('../images/car-1.png');
  
      @for $i from 1 through 7 {
        &.car-#{$i} {
          background-image: url('../images/car-#{$i}.png');
        }
      }
  
      &.police {
        background-image: url('../images/police.png');
      }
  
      &.ambulance {
        background-image: url('../images/ambulance.png');
      }
  
      &.taxi {
        background-image: url('../images/taxi.png');
      }
    }
  
    &.bus {
      background-image: url('../images/bus.png');
      min-width: 120px;
    }
  
    &.truck {
      background-image: url('../images/truck.png');
      min-width: 170px;
    }
  }

  @keyframes move {
    to {
      transform: translateX(2200px);
    }
  }
  
  @keyframes move-bus {
    40%, 100% {
      transform: translateX(2200px);
    }
  }

  .traffic-light-1 {
    position: absolute;
    background-image: url('../images/traffic-light-red.png');
    background-size: 100% 100%;
    height: 55px;
    width: 40px;
    margin-left: 510px;
  }

  .traffic-light-2 {
    position: absolute;
    background-image: url('../images/traffic-light-green.png');
    background-size: 100% 100%;
    height: 55px;
    width: 40px;
    transform: rotate(90deg);
    margin-left: 545px;
    margin-top: 148px;
  }

  

  /*.roads {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 70vh;
    background-image: url('../images/roads2.png');
    background-size: 100% 100%;
    overflow: hidden;
    align-items: stretch;
    justify-content: stretch;
    max-width: 1920px;
  }*/