.road-container {
    background-image: url('../images/roads2.png');
    background-size: 100% 100%;
    height: 600px;
    min-height: 350px;
    width: 600px;
    max-width: 1920px;
    margin: 0 auto;
  
    .lane {
      position: absolute;
      overflow: hidden;

      &#lane-1 {
        margin-top: 46px;
        height: 150px;
        width: 600px;
      }
      
      &#lane-2 {
        margin-left: 400px;
        height: 600px;
        width: 150px;
      }
    }
  }

  .vehicle {
    margin: 15px;
    height: 80px;
    min-width: 80px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
  
    &.car {
      background-image: url('../images/car-1.png');
  
      @for $i from 1 through 3 {
        &.car-#{$i} {
          background-image: url('../images/car-#{$i}.png');
        }
      }
  
      &.police {
        background-image: url('../images/police.png');
      }
  
      &.ambulance {
        background-image: url('../images/ambulance.png');
      }
  
      &.taxi {
        background-image: url('../images/taxi.png');
      }
    }

    &.bus {
      background-image: url('../images/bus.png');
      min-width: 120px;
    }
  
    &.truck {
      background-image: url('../images/truck.png');
      min-width: 170px;
    }
  }

  #lane-1 .vehicle {
    left: -200px;
    top: calc(50% - 60px);
    animation: move-x 10s linear;
  }
  
  #lane-2 .vehicle {
    bottom: -200px;
    left: calc(50% - 60px);
    transform: rotate(-90deg);
    animation: move-y 10s linear;
  }

  @keyframes move-x {
    to {
      transform: translateX(2200px);
    }
  }
  
  @keyframes move-y {
    to {
      transform: translateY(-2200px) rotate(-90deg);
    }
  }
  
  @keyframes move-bus {
    40%, 100% {
      transform: translateX(2200px);
    }
  }
  
  #traffic-light-1 {
    position: absolute;
    background-size: 100% 100%;
    height: 55px;
    width: 40px;
    transform: rotate(90deg);
    margin-left: 545px;
    margin-top: 148px;
  }
  
  #traffic-light-2 {
    position: absolute;
    background-size: 100% 100%;
    height: 55px;
    width: 40px;
    margin-left: 510px;
  }

  .counter {
    font-family: chesstype;
    font-size: 26px;
    background: #4a4a4a;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 5px solid black;
    text-align: center;
  }

  #light-counter-1 {
    margin-left: 552px;
    margin-top: 200px;
    transform: rotate(90deg);
  }
  
  #light-counter-2 {
    margin-left: 552px;
    margin-top: -5px;
  }

  .green {
    &.traffic-light {
      background-image: url('../images/traffic-light-green.png');
    }
    &.counter {
      color: #00ff00;
    }
  }
  
  .red {
    &.traffic-light {
      background-image: url('../images/traffic-light-red.png');
    }
    &.counter {
      color: #fe0000;
    }
  }
  

  /*.roads {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 70vh;
    background-image: url('../images/roads2.png');
    background-size: 100% 100%;
    overflow: hidden;
    align-items: stretch;
    justify-content: stretch;
    max-width: 1920px;
  }*/